  $fontPrimary: 100%;
  
  $colorPrimary: hsl(180,99%,36%);
  /** color primary broken into hue saturation lightness **/
  $colorPrimary-h: 180;
  $colorPrimary-s: 99%;
  $colorPrimary-l: 36%;
  $colorPrimary: hsl($colorPrimary-h, $colorPrimary-s, $colorPrimary-l);
  
  /** percentages to lighten and darken colors **/
  $lighten-percentage: 20%;
  $darken-percentage: 20%;

  /** color primary light --colorPrimary--light **/
  $colorPrimary--light: hsl($colorPrimary-h, 
  $colorPrimary-s, 
  $colorPrimary-l + $lighten-percentage);

  /** --colorPrimary--dark **/
  $colorPrimary--dark: hsl($colorPrimary-h, 
  $colorPrimary-s, 
  $colorPrimary-l - $darken-percentage);

  /** --colorPrimary--complement  **/
  $colorPrimary--complement: hsl($colorPrimary-h + 180, 
  $colorPrimary-s, 
  $colorPrimary-l);

  /** --colorPrimary--triad1 **/
  $colorPrimary--triad1: hsl($colorPrimary-h + 120, 
  $colorPrimary-s, 
  $colorPrimary-l);

  /** --colorPrimary--triad2 **/
  $colorPrimary--triad2: hsl($colorPrimary-h + 240, 
  $colorPrimary-s, 
  $colorPrimary-l);

  /** color secondary **/
  $colorSecondary: hsl(50, 100%, 68%);
  /** color secondary broken into hue saturation lightness **/
  $colorSecondary-h: 50;
  $colorSecondary-s: 100%;
  $colorSecondary-l: 68%;
  $colorSecondary: hsl($colorSecondary-h, $colorSecondary-s, $colorSecondary-l);

  /** color secondary light --colorSecondary--light **/
  $colorSecondary--light: hsl($colorSecondary-h, 
  $colorSecondary-s, 
  $colorSecondary-l + $lighten-percentage);

  /** --colorSecondary--dark **/
  $colorSecondary--dark: hsl($colorSecondary-h, 
  $colorSecondary-s, 
  $colorSecondary-l - $darken-percentage);

  /** --colorSecondary--complement  **/
  $colorSecondary--complement: hsl($colorSecondary-h + 180, 
  $colorSecondary-s, 
  $colorSecondary-l);

  /** --colorSecondary--triad1 **/
  $colorSecondary--triad1: hsl($colorSecondary-h + 120, 
  $colorSecondary-s, 
  $colorSecondary-l);

  /** --colorSecondary--triad2 **/
  $colorSecondary--triad2: hsl($colorSecondary-h + 240, 
  $colorSecondary-s, 
  $colorSecondary-l);


 

/** responsive img in Foundation **/
img {
max-width: 100%;
height: auto;
}

body {
  font: $fontPrimary;
  background-color: $colorSecondary;
}
header {
  background-color: $colorSecondary--light;

  #navMenu {
    background-color: $colorSecondary--light;
  }
  #dropDownItems{
    background-color: $colorSecondary--dark;
  }
  img {
    color: $colorSecondary;
  }
}