

/** header start **/
header #navMenu {
  background-color: #fff5c2;
}
header #dropDownItems {
  background-color: #fff5c2;
}
header img {
  color: #ffe45c;
  max-width: 100%;
  height: auto;
}
header #listHeadingDaily > a,
header #listHeadingWeekly > a,
header #listHeadingMonthly > a {
  background-color: #f5cc00;
}

/** header end **/

/** body start **/

body {
  font: 100%;
  font-family: "IBM Plex Serif", serif;
  background-color: #ffe45c;
  color: #0029f5;
}
body a:hover {
  background-color: #fff5c2;
}
/** body end **/

/** quote start **/
#quoteAPI {
  margin-top: 2rem;
}

#quoteHeading,
#forecast,
#gratefulThings,
#myMeetings,
#mainTasks,
#myNotes,
#addMyTask {
  text-align: center;
  font-size: 2rem;
  background-color: #f5cc00;
  color: #0029f5;
  font-weight: 500;
}

#quoteElement {
  margin-top: 2rem;
  font-family: "Sacramento", cursive;
  font-size: 4rem;
  color: #5c77ff;
}

/** end quote **/

/** weather **/
#weatherContainer {
  border: 0.1rem solid black;
  border-radius: 0.5rem;
}


/** tabs for schedule section **/
#panel1, #panel2, #panel3, #panel4 {
  background-color: #fff5c2;
  color: #5c77ff;
}
#menuTitle {
  margin: 1rem;
}

#subMenuContainer, #subMenuDaily, #subMenuWeekly, #subMenuMonthly, #example-tabs {
  background-color: #f5cc00;
}

.tabs-title > a[aria-selected=true] {
  background-color: #fff5c2;
  border: none;
}

.tabs-title > a:hover {
  background-color: #fff5c2;
}


/** modal **/
#plusIcon,
.statement {
  text-align: center;
}

.modalToggle {
  display: none;
}


textarea {
  background-color: #fff5c2;
}

#taskModal {
  background-color: #ffe45c;
}

#taskModal > textarea {
  margin-top: 2rem;
  background-color: #fff5c2;
}

#btnListOne > .modalButton, #btnListTwo > .modalButton {
  font-size: 2rem;
  background-color: #5c77ff;
  border-color: #f5cc00;
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  width: 100%;
}

#taskModal > #saveTasksBtn {
  font-size: 1.5rem;
  background-color: #5c77ff;
  border-color: #f5cc00;
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

#taskModal > #modalHeading {
  text-align: center;
}

/** Weather animations code from https://codemyui.com/animated-weather-icons-in-css/ 
Code My UI in an article by Hima Vincent who based on 
dribbble shot https://dribbble.com/shots/2097042-Widget-Weather by kylor **/



